* {
	transition: .1s linear;
	text-align: justify;
	box-sizing: border-box;
}
body {
  	height: 100%;
  	margin-bottom: 20px;
}
body {
	/*font-family: cousine, consolas, courier new, monospace;*/
	font-family: 'Open Sans', sans-serif;
	color: #222;
	background-color: #fafafa; /* yes im fa */
	padding: 20px 10px;
}
h1 {
	text-align: center;
  	padding: 0.5rem 0 0 0;
}
p, li {
	font-size: 1rem;
	line-height: 1.625;
}
ul {
	padding-left: 1rem;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}
form {
	margin: 10px 0;
}
label {
	margin: 5px 0;
}
input {
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5rem .25rem;
}
section {
	margin: 1rem 0;
}
button {
	background-color: #3f93d1;
	/*background-color: rgb(192, 203, 180);*/
	font-family: inherit;
	font-weight: 500;
	font-size: 1rem;
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}
button:hover, button:focus {
	background: #2d82c0;
}
button:active {
	transform: scale(.95, .95);
}
button:disabled {
	background: #aaa;
}
section, article {
  display: block;
}
#breadcrumb {
	position: absolute;
	top: 10px;
	left: 10px;
}
#breadcrumb ul {
	margin: 0 auto;
	display: flex;.
}
#breadcrumb li {
	list-style-type: none;
}
#breadcrumb li::before {
    content: "/";
}  
#breadcrumb li:first-child::before{
    content: "";
}
#breadcrumb a {
	padding: 0 .25rem;
}
.number-input {
	text-align: right;
	width: 5rem;
}
.row {
	margin: .25rem 0;
}
.form-control {
	display: block;
	width: 100%;
	margin: 5px 0;
}
@media all and (min-width: 600px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  body {
    /*padding: 20px 100px;*/
  }
  main {
    margin: 0 auto;
  	max-width: 580px;
  }
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3); 
    border-radius: 2.5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: rgba(255,255,255,0); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}