* {
	transition: .1s linear;
	text-align: justify;
}
html, body {
  	height: 100%;
}
body {
	/*font-family: cousine, consolas, courier new, monospace;*/
	font-family: 'Open Sans', sans-serif;
	color: #222;
	background-color: #eee;
	padding: 20px 10px;
}
h1 {
	text-align: center;
  	padding: 0.5rem 0 0 0;
}
p, li {
	font-size: 1rem;
	line-height: 1.625;
}
ul {
	padding-left: 1rem;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}
form {
	margin: 10px 0;
}
label {
	margin: 5px 0;
}
input {
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5rem .25rem;
}
section {
	margin: 1rem 0;
}
button {
	background: #3f93d1;
	font-family: inherit;
	font-weight: 500;
	font-size: 1rem;
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}
button:hover {
	background: #2d82c0;
}
button:active {
	transform: scale(.95, .95);
}
button:disabled {
	background: #aaa;
}
section, article {
  display: block;
}
.back {
	position: absolute;
	top: 10px;
	left: 10px;
}
.number-input {
	text-align: right;
	width: 5rem;
}
.row {
	margin: .25rem 0;
}
.form-control {
	display: block;
	width: 100%;
	margin: 5px 0;
}
#fb-avatar {
	position: relative;
	left: calc(50% - 50px);
	border-radius: 50%;
}
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  body {
    padding: 20px 100px;
  }
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}