.type-writer {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    revealing 3.5s steps(100, end)
}

@keyframes revealing {
  from { width: 0 }
  to { width: 100% }
}